<% layout("layout/boilerplate") %>

    <div class="row mb-3">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%= campground.id%>?_method=PUT" method="POST" class="validated-form"
                enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="title">Title:</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required
                        value="<%=campground.title%>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location:</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required
                        value="<%=campground.location%>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price:</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input id="price" type="text" class="form-control" placeholder="0.00" name="campground[price]"
                            required aria-label="Amount (to the nearest dollar)" value="<%=campground.price%>">
                        <span class="input-group-text">.00</span>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description:</label>
                    <textarea name="campground[description]" id="description" required
                        class="form-control"><%= campground.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Add Images:</label>
                    <input type="file" class="form-control" name="image" multiple>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <% campground.image.forEach((img, i)=> { %>
                            <div class="col-6 mb-3">
                                <img src="<%=img.url%>" class="img-thumbnail">
                                <div>
                                    <input type="checkbox" class="check-control" name="deleteImages[]"
                                        value="<%=img.filename%>" id="img-<%=i%>">
                                    <label for="img-<%=i%>">Delete</label>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
                <a class="btn btn-light" href="/campgrounds/<%=campground._id%>">Back</a>
                <button class="btn btn-info text-white">Update Campground</button>
            </form>
        </div>
    </div>

    <!-- JS code, for form validation, is in validateForms file -->